/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .02em;
	text-align: center;
	color: #44545E;
	font-size: 15px;
	position: relative;
}

/*START SMOOTH SCROLL NAVIGATION*/

a[ id= "album" ]:target ~ #main article.panel {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "galeria" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id= "contacto" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}

/*END SMOOTH SCROLL NAVIGATION*/



/*START HAMBURGER NAVIGATION MENU*/

/*
.hamburger-icon {
  margin: 10px;
  width: 4.5rem;
  display: inline-block;
  position: relative;
  height: 40px;
  border:1px solid black;
}

.hamburger-icon:hover,
.hamburger-icon:active,
.hamburger-icon:focus {
  outline: 0;
}

.line:nth-child(1) {
  top: 0;
}

.line:nth-child(2) {
  top: 12px;
}

.line:nth-child(3) {
  top: 24px;
}

.line {
  width: 2.5rem;
  height: .3125rem;
  background: #44545E;
  border-radius: 2.5rem;
  position: absolute;
  opacity: 1;
  /* 1. Set the transition property */
  /* Syntax: propertiesToAnimate animationDuration animationEffect */
  /* Example: all .3s ease-in-out */

/*  transition: all .3s ease-in-out;

}

/* MIDDLE line */

/* .active .line:nth-child(2) { */
  /* 2. When the active class is added to the .hamburger-icon:
      a) Fade the middle line out (hint: you will need to update the 'opacity' property).
      b) Move the middle line 16px to the left using a transform (hint: use translateX with a negative px value)  */
/* opacity: 0;
transform: translateX(-16px);
}

*/

/* TOP line */
/* .active .line:first-child { */
  /* 3. When the active class is added to the .hamburger-icon,
        use the transform property to do BOTH of the following:
        a) Move the top line 12px down (hint: use translateY)
        b) Rotate the line 135 degrees
  */
/* transform: translateY(12px) rotate(135deg); 

} */

/* BOTTOM line */
/* .active .line:last-child { */
  /* 3. When the active class is added to the .hamburger-icon,
        use the transform property to do BOTH of the following:
        a) Move the top line 12px up (hint: use translateY and a negative px value)
        b) Rotate the line -135 degrees
  */
  /* transform: translateY(-12px) rotate(-135deg);
} */

/*END HAMBURGER NAVIGATION MENU*/


/* Responsive images */
img {
	max-width: 100%;
}

/* ----------------------------------------
Typography
------------------------------------------- */
p {
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 1.4;
}


h1 {
	font-size: 85px;
	letter-spacing: 15px;
	color: #000000;
	margin: 180px 0px 65px 0px;
	font-family: 'Nothing You Could Do', cursive;
}

h2 {
	font-size: 35px;
	letter-spacing: 20px;
	color: #000000;
}

h3 {
	font-size: 20px;
	letter-spacing: 12px;
	color: #000000;
}



a {
	text-decoration: none;
	color: #7B98AA;
	font-weight: 600;
}

a:hover {
	color: #44545E;
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}



/* ----------------------------------------
Lists
------------------------------------------- */
ul a {
	text-transform: none;
}

ul {
	padding-left: 16px;
}

li {
	text-align: left;
	margin-bottom: 12.8px;
	color: #44545E;

}

/* ----------------------------------------
Layout
------------------------------------------- */

.tour {
	margin: 120px auto;
	background-color: #44545E;
	padding: 40px;

}

.about {
	margin: 120px auto;
	background-color: #44545E;
	padding: 40px;
}

.about-wrapper {
	display: flex;
	margin: 0 auto;	
	justify-content: center;

}

.about-wrapper article {
	width: 600px;
	padding: 10px;
}




 /*.about p {
	padding: 20px 400px 40px 400px;
	margin: 0 auto;
	text-align: center;
}
*/

#table-wrapper {
	text-align: center;
	display: inline-block;

	
}

tr {
	margin: 20px 0px;
	padding: 20px 10px;
}

td {
	margin: 0px 40px;
	padding: 20px 10px;
	color: #FFFFFF;
}

.text {
	color: #FFFFFF;
}

.blue-headers {
	color: #FFFFFF;
	margin: 0px 0px 70px 0px;
}

.connect {
	padding: 10px 0px 30px 0px;
}

.connect p {
	padding: 20px 500px 20px 500px;
	margin: 0 auto;
	text-align: center;
	color: #44545E;
}


.live p {
	padding: 40px;
}

.album img {
	border: 3px solid #000000;
	width: 45%;
	margin: 40px;
}

#album-1 {
	padding: 20px 530px 0px 530px;
	margin: 0 auto;
	text-align: center;
	color: #44545E;
}

.album p {
	padding: 20px 530px 40px 530px;
	margin: 0 auto;
	text-align: center;
	color: #44545E;
}

#backstage {
	border: 1px solid #000000;
	width: 40%;
	margin: 10px 30px;
}




/* ----------------------------------------
Header
------------------------------------------- */

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 100;
}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	padding: 10px 60px;
	display: inline-block;
	border-bottom: none;
	text-transform: uppercase;
}

h1 a,
h1 a:hover {
	color: white;
	margin-top: 122px;
	display: inline-block;
}


/* ----------------------------------------
MODAL - TOUR DATES
------------------------------------------- */
.modal-background {
  /*padding: 10%;*/
  background-color: rgba(0, 0, 0, .7);

  /*MODAL*/
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;

}

.modal-content {
  padding: 20px 20px;
  color: #444;
  background-color: white;
  width: 50%;
  height: 75%;
  /*MODAL*/
  margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

button#close {
  font-size: .85em;
  font-weight: 600;
  padding: 10px 10px;
  cursor: pointer;
  letter-spacing: .08em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 1px;
  outline: none;
  background-color: #c0392b;
  margin: 20px 0;
}

h4 {
	font-size: 60px;
	font-weight: bold;
	letter-spacing: 8px;
	color: #c0392b;
	margin: 10px 0 0 0;

}


.modal-content img {
	border: 1px solid #000000;
	width: 60%;
	display: inline-block;
	text-align: center;
}

/* ----------------------------------------
MODAL - CONNECT
------------------------------------------- */
.modal-background-connect {
  /*padding: 10%;*/
  background-color: rgba(0, 0, 0, .7);

  /*MODAL*/
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;

}

.modal-content-connect {
  padding: 20px 20px;
  color: #444;
  background-color: white;
  width: 50%;
  height: 75%;
  /*MODAL*/
  margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

button#connect-close {
  font-size: .85em;
  font-weight: 600;
  padding: 10px 10px;
  cursor: pointer;
  letter-spacing: .08em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 1px;
  outline: none;
  background-color: #c0392b;
  margin: 20px 0;
}

h4 {
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 8px;
	color: #c0392b;
	margin: 10px 0 0 0;

}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
	background-color: #000000;
	overflow: auto;
	padding: 0px 30px 40px 30px;

}

footer .wrap {
	padding: 30px 15px;
}

.social-links a {
	font-size: 30px;
	padding: 15px;
	margin-bottom: 30px;
	display: inline-block;
	color: #44545E;
}

.copyright {
	padding: 15px 0 3px;
}

/* ----------------------------------------
Buttons
------------------------------------------- */

.social-links {
	margin: 10px;
}


button {
	cursor: pointer;
	outline: 0;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	padding: 8px 25.5px;
	background-color: transparent;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12.299px;
	letter-spacing: 1.2px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

button:hover {
	background-color: #FFFFFF;
	color: #44545E;
	font-weight: 600;
}

button#buy {
	border: 1px solid #44545E;
	color: #44545E;
	margin: 10px;
	border-radius: 5px;
	font-weight: 400;
	transition: all .2s ease-in-out;



}


button#buy:hover {
	background-color: #44545E;
	color: #FFFFFF;
	font-weight: 400;
	transition: all .2s ease-in-out;
	}


#email {
	border: 1px solid #44545E;
	border-radius: 5px;
	color: #44545E;
	margin: 10px;
	padding: 8px;
	font-weight: 400;
	transition: all .2s ease-in-out;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	letter-spacing: .02em;
	text-align: left;
	font-size: 11px;



}


button#submit {
	border: 1px solid #44545E;
	color: #44545E;
	margin: 10px;
	border-radius: 5px;
	font-weight: 400;
	transition: all .2s ease-in-out;

}

button#submit:hover {
	background-color: #44545E;
	color: #FFFFFF;
	font-weight: 400;
	transition: all .2s ease-in-out;
}




button#previous {
	/*border: 1px solid #44545E;*/
	color: #44545E;
	margin: 10px;
	border-radius: 5px;
	font-weight: 400;
	transition: all .2s ease-in-out;
}


button#next {
	/*border: 1px solid #44545E;*/
	color: #44545E;
	margin: 10px;
	border-radius: 5px;
	font-weight: 400;
	transition: all .2s ease-in-out;
}


button#previous#next:hover {
	
}


button#submit-connect {
border: 1px solid #44545E;
	color: #44545E;
	margin: 10px;
	border-radius: 5px;
	font-weight: 400;
	transition: all .2s ease-in-out;
}
